
<div class="wrap-navbar">
  <div class="container">
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
      <a class="navbar-brand mr-0 mr-md-2" href="/" >
        <h3>Oxise<span style="
          font-size: 11px;
      "> Libra POC</span></h3>        
      </a>
    
      <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
     
      </div>
      
    
      <a href="https://libra.org" target="_blank" class="btn d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3 radius-5 th-bg btn-sign-up btn-sign-in btn-sm">Libra.org</a>
      <a href="https://developers.libra.org/" target="_blank" class="btn d-lg-inline-block mb-3 mb-md-0 ml-md-3 radius-5 th-bg btn-sign-up btn-sm">Github</a>
    
    </header>
  </div>
</div>